{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
  <div class="container-fluid title-container">
    <img class="img-fluid" src="../static/images/logo.png">
    <h1>Pet Feeder</h1>
    <div class="button-container">
      <a href="/stream" class="btn btn-lg custom-btn">Camera</a>
      <a href="/settings" class="btn btn-lg custom-btn"> Settings</a>
    </div>

    <div class="info">
      <p>Automatic pet feeder using yolov8 object detection</p>
      <p>CS50 Final Project</p>
      <img src="../static/images/CS50_Duck.png" style="width: 50px; height: 50px;">
      <br>
      <p>
        <a href="https://github.com/PierceBrandies/PetFeeder">github.com/PierceBrandies/PetFeeder</a>
      </p>
    </div>
  </div>
{% endblock %}